/* Global styles come from external css https://codepen.io/GreenSock/pen/gOWxmWG */

*{
    padding: 0;
    margin: 0;
    /* background-color: aquamarine; */
    
}
  

  

.container{

    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    
}

.character {
    background: url(https://d3th4fjgtl3dup.cloudfront.net/images/drive/final.png);
    width: 300px;  height:300px; 
}



.ballsize{
    width: 10px;
    height: 10px;
    background-color: rgb(15, 77, 8);
    border-radius: 50%;   
    position: absolute;
    z-index: 130;
}

.anim{
    

    margin-top: 40vh;

    
    
    position: relative;
    width: 80vw;
    height: 50vh;
    /* background-color: rgb(4, 112, 79); */
}


.positionf{
    position: absolute;
    left: 20px;
    top: 95px;
    

}


.positions{
    position: absolute;
    width: 500px;
    height: 20px;
    top:235px;
    left: 150px;
    visibility: hidden;
    

}

.button{
    background-color: brown;
    width: 25px;
    height: 25px;
    position: relative;
    left: 80%;
    top:10%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.button span{
    background-color: brown;
    border-radius: 50%;
    color: azure;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;

    font-size: 21px;
    
}

.match{
    
    /* background-color: rgb(76, 63, 251); */
    

    
    display: flex;
    justify-content: space-between;

    
    
    
}

.matchmain{
    width: 200px;
    height: 100px;
    position: relative;
    left: 50%;
    top: 10%;
    z-index: 100;
    cursor: pointer;

}
.text{
    color: rgb(28, 90, 144);
    display: flex;
    justify-content: center;
    font-size: 18px;
    background-color: rgba(240, 248, 255, 0);
    /* margin-top: -5px; */
}

/* .team{
    width: 40%;
    height: 40%;
    background-color: aquamarine;
    margin-top: auto;
    margin-bottom: auto;
    
} */

.resize{
    width:auto;
    height: 70%;
    margin-top: auto;
    margin-bottom: auto;
    
}

