/* Global styles come from external css https://codepen.io/GreenSock/pen/gOWxmWG */

*{
    padding: 0;
    margin: 0;
    background-color: rgb(94, 237, 180);
}
  

  

.container{

    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    
}

img{
    
    width: 350px;
    height: 350px;
    left: 50px;
    top:50px;
   
    position: absolute;
}

.ballsize{
    width: 10px;
    height: 10px;
    background-color: aliceblue;
    border-radius: 50%;   
    position: absolute;
    z-index: 130;
}

.anim{
    

    margin-top: 40vh;

    
    
    position: relative;
    width: 80vw;
    height: 50vh;
    /* background-color: rgb(4, 112, 79); */
}


.positionf{
    position: absolute;
    left: 20px;
    top: 20px;
    

}


.positions{
    position: absolute;
    width: 500px;
    height: 20px;
    top:235px;
    left: 270px;
    visibility: hidden;
    

}

.button{
    background-color: brown;
    width: 15px;
    height: 15px;
    position: relative;
    left: 50%;
    top:0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.button span{
    background-color: brown;
    border-radius: 50%;
    color: azure;
    cursor: pointer;
    
}




